@model CatalogViewModel

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        @for (var i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a class="page-link" href="javascript:void(0);" onclick="loadPage(@i-1,event)">@i</a>
            </li>
        }
    </ul>
</nav>
