﻿@{
    ViewData["Title"] = "Error";
}

<div class="row fs-1">
    <div class="col-12 text-center">
        <br>
        <div class="container error-container">
            <div class="error-code fs-3 text-center">404</div>
            <div class="error-message fs-3">Oops! The page you're looking for cannot be found.</div>
            <a class="btn btn-primary mt-3" asp-controller="Home" asp-action="Index">Go back to the homepage</a>
        </div>
    </div>
</div>