@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item">
            <div class="section">
                <img class="img" src="~/testImages/TestImage.jpg" />
                <div class="section">
                    <p>Make: Mercedes-Benz</p>
                    <p>Model: G class</p>
                    <p>Year: 2011</p>
                </div>
            </div>
            <div class="section">
                <img class="img" src="~/testImages/TestImage2.jpg" />
                <div class="section">
                    <p>Make: </p>
                    <p>Model: </p>
                    <p>Year: </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="section">
                <img class="img" src="~/testImages/TestImage3jpg.jpg" />
                <div class="section">
                    <p>Make: BMW</p>
                    <p>Model: 320</p>
                    <p>Year: 2011</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">

        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>