html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-control {
    height: 60px;
    font-size: 21px;
}

.form-select {
    height: 60px;
}

.form-select option {
    font-size: 21px;
}

.form-floating label {
    padding-left: 35px;
    font-size: 20px
}

.form-floating .wide-input {
    height: 80px;
}

.img-nav {
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
}

.img-edit {
    max-width: 150px;
    max-height: 120px;
    width: auto;
    height: auto;
}

a .img-nav {
    max-width: 75px;
    max-height: 75px;
}

.banner {
    filter: brightness(70%);
}

.custom-dialog-box {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}