html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-control {
    height: 60px;
    font-size: 21px;
}

.form-select {
    height: 60px;
}

.form-select option {
    font-size: 21px;
}

.form-floating label {
    padding-left: 35px;
    font-size: 20px
}

.form-floating .wide-input {
    height: 80px;
}
